@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { color: hsl(228, 45%, 44%); }
:root {
    font-size: 15px;
    --red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --font: 'Poppins', sans-serif;
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    font-family: var(--font);
    justify-content: center;
    align-items: center;
}
.header {
    text-align: center;
    margin-bottom: 3em;
}
.header p {
    width: 50%;
    margin: 0 auto;
}

p {
    color: var(--Grayish-Blue);
    font-size: 15px;

}
span {
    font-weight: 200;
}

section {
    display: flex;
    align-items: center;    
    gap: 20px;
}

.box {
    display: inline-block;
    border: 2px solid red;
    border-width: 4px 0 0;
    padding: 0 1em;
    max-width: 300px;
    box-shadow: 0 1px 9px 0px rgba(0,0,0,0.2);
    border-radius: 6px;
}

.middle-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.builder {
    border-color: var(--red);
}
.karma {
    border-color: var(--Orange);
}

.supervisor {
    border-color: var(--Cyan);
}
.calculator {
    border-color: var(--Blue);
}

.box-image > img {
    display: block;
    float: right;
    margin-right: 2em;
    margin-bottom: 1em;
}

@media (max-width: 578px) {
    section {
        display: flex;
        flex-wrap: wrap;
        margin: ;
    }
    .box {
        display: block;
        max-width: 700px;
        margin: 1em;
    }
    .middle-container {
        margin: 0 auto;
    }
    div {
        display: block;
    }
    .supervisor {
        width: 100%;
    }
}

